.tagline-signup {
    display: grid;
    grid-template-rows: 50% 25% 25%;
    grid-template-columns: 50% 50%;
}

.email-input {
    color: #1A2533;
}

.black-button {
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    padding: 13px 25px;
    margin: auto 10px;
    background-color: #000000;
    color: #ffffff;
}

/* .sign-up {

} */