* {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
}

/* Desktop Navigation */
.desktop-nav {
    font-size: 17px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    box-shadow: gray 0 1px 2px 0;
}

.nav-logo {
    max-height: 60px;
    margin-right: 60px;
}

.nav-items {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    margin: 7px 0;
}

.nav-item {
    color: #1A2533;
    padding: 10px 15px;
    margin: auto 20px;
}

.nav-item:hover {
    font-weight: 800;
}

.nav-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-actions > button {
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    padding: 13px 25px;
    margin: auto 10px;
}

.transparent-button {
    background-color: transparent;
    color: #1A2533;
}

.black-button {
    background-color: #000000;
    color: #ffffff;
}

/* Desktop Footer */
.desktop-footer {
    font-size: 12px;
    color: #324964;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* position: fixed;
    bottom: 10vh; */
    width: 100vw;
    margin-bottom: 10vh;
}

.footer-logo {
    max-height: 35px;
    margin-left: -7px;
}

.mission-statement {
    text-align: left;
}

.mission-statement > h4 {
    color: #1A2533;
}

.mission-statement > p {
    font-size: 11px;
    max-width: 15vw;
}

.copyright {
    position: relative;
    top: 45px;
}

.copyright > p, .copyright > a {
    font-size: 8px;
    display: inline;
    color: #324964;
}

.copyright > a {
    padding-left: 5px;
}


